// 
// _pagination.scss
// 

// Pagination Separated
.pagination-separated {
    .page-item {
        .page-link {
            margin-left: 0.35rem;
            border-radius: $border-radius;
        }
    }
}

.lagramma-page-link {
    margin-left: 0.35rem;
    display: inline-flex;
    min-width: 32px;
    min-height: 32px;
    align-items: center;
    justify-content: center;
}

.lagramma-page-link-hover {
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: #0c3e3c !important;
        border-color: #0c3e3c !important;
        color: #ffffff !important;
    }
}

// Pagination rounded (Custom)
.pagination-rounded {
    .page-link {
        border-radius: 30px !important;
        margin: 0 3px !important;
        border: none;
        min-width: 32px;
        min-height: 32px;
        text-align: center;
    }

    &.pagination-sm {
        .page-link {
            min-width: 25px;
            min-height: 25px;
        }
    }
}

.page-item.active {
    .page-link{
        box-shadow: $element-shadow;
    }
}
